/* BASIC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body {
    height: 100%;
}







/* LAYOUT COLORS(overriding exisitng colors */
:root {
  --bs-primary: #2A9D8F;
  --bs-secondary: #A8D76F;
  --bs-font: #636363;
}
.text-primary,.background-primary {
    color: var(--bs-primary) !important;
}
.text-secondary,.background-secondary {
    color: var(--bs-secondary) !important;
}












/* TYPOGRAPHY */
h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 4.5rem;
    font-weight: 700;
}
h3{
    font-size: 2.625rem;
}
p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    color: var(--bs-font);
}











/* REUSEABLE COMPONENTS */
.ctaBtn{
    display: inline-block;
    background-color: #3F7D58;
    border-radius: 50%;
    padding: 0 .8rem;
}

.btn_transparent,
.btn_transparent:active,
.btn_transparent:visited{
    padding: 0;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #3F7D58 !important;
}

.btn_transparent:hover{
    color:#262A2D !important;
    border-bottom: 1px solid #262A2D !important;
    transition: all .7s;
}









/* CUSTOM UTILITIY CLASSES */

.u_paddingLarge{padding:5rem 0;}
.u_paddingTop{padding-top: 5rem;}










/* NAVBAR AND HERO SECTION STYLES */
.navbar {
    background-color: #262A2D;
}
.headlingLabel{
    background-color: #eeeeee;
}
.headlingLabel::before{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: " ";
    background-color: var(--bs-primary);
    margin-right: .6rem;
}


/* INTRODUCTION AREA */
.introductionArea{
    
}
.introductionArea >img{
    height: auto;
}








/* CTA BANNER STYLES */
.ctaBanner{
    background: url('/assets/img/morining_landscape.jpg');
    background-position: center;
    background-size: cover;
    height: 75vh;
    position: relative;
}
.ctaBanner .ctaBtn{
    position: absolute;
    bottom: 2rem;
    right: 6rem;
}



/* CARD STYLES */
.rightSlide, .leftSlide{
    height: 28rem;
}

/* CONTACT FORM STYLES */
.contact{
    background-color: #F2F2F2;
}
.form_field{
   border: 1px solid #636363;
   margin: 1rem 0;
    
}
label{
    color: var(--bs-font);
}
textarea{
    border: 1px solid #636363;
    margin: 1rem 0;
    height: 8rem;
}












/* FOOTER STYLES */
footer{
    position: relative;
    overflow: hidden;
    padding: 2rem 1rem;
    margin-top: auto;
}
.footerBgText{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.footerBgText::before{
    content: "REEP TO GROW";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 10rem;
    font-weight: 600;
    white-space: nowrap;
    z-index: 0;
    mask-image: linear-gradient(to bottom, #000 80%, transparent 80%);
}
.footerContent_area{
    z-index: 1;
    position: relative;
}
.social_icons{
    list-style: none;
    padding: 0;
}
.social_icons li{
    display: inline-block;
    margin-left: 1rem;
}
.social_icons li a{
    color: var(--bs-font);
}
.social_icons li:first-child{
    margin-left: 0;
}
.footer_links{
    list-style: none;
    color: var(--bs-font);
    text-transform: capitalize;
}
.footer_links li{
    padding-bottom: .5rem;
}
.footer_links li:first-child{
    padding-top: 1rem;
}
.footer_links li:last-child{
    padding-bottom: 0;
}
