/* BASIC STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}
p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}






/* LAYOUT COLORS(overriding exisitng colors */
:root {
  --bs-primary: #2A9D8F;
  --bs-secondary: #A8D76F;
}
.text-primary,.background-primary {
    color: var(--bs-primary) !important;
}
.text-secondary,.background-secondary {
    color: var(--bs-secondary) !important;
}

/* NAVBAR STYLES */
.navbar {
    background-color: #262A2D;
}
